# Ignora archivos del sistema Mac 
.DS_store
Backend.code-workspace

# Ignora la carpeta node_modules
node_modules
PE3/node_modules
PF1
0
1
2
3
4
5
6
7
8

# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env

# Ignora archivos de configuración SASS
.sass-cache



